{% extends "base.html" %}
{% block content %}        
		<script src="{{ url_for('static', filename='js/calculation.js') }}"></script>
		<script type="text/javascript">
		$("#deposit").keyup(function() {
			var deposit = $("#deposit").val();
			$("#dstaffcommission").val(parseInt(deposit * .05));
			var commission = $("#dstaffcommission").val();
			$("#finaldeposit").val(deposit - commission);
		});
		
		$("#withdraw").keyup(function() {
			var withdraw = $("#withdraw").val();
			$("#wstaffcommission").val(withdraw * .05);
			var commission = $("#dstaffcommission").val();
			$("#finalwithdraw").val(withdraw - commission);
		});

		</script>
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
                        <div class="well sponsor">
                        	<form class="form-horizontal" method="POST">
                                <legend>Deposit Funds</legend>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Deposit: </label>
                                    <div class="col-lg-10">
                                        <input type="text" id="deposit" class="form-control" name="deposit">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Staff Commission: </label>
                                    <div class="col-lg-10">
                                        <input type="text" id="dstaffcommission" class="form-control" name="staffcommission" readonly="readonly">
                                    </div>
                                </div>
								<div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Final Deposit: </label>
                                    <div class="col-lg-10">
                                        <input type="text" id="finaldeposit" class="form-control" name="finaldeposit">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <input type="submit" class="btn btn-primary" value="Submit" />
                                    </div>
                                </div>
                        	</form>
                        </div>
                        <div class="well sponsor" >
                        	<form class="form-horizontal" method="POST">
                                <legend>Withdraw Funds</legend>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Withdraw: </label>
                                    <div class="col-lg-10">
                                        <input type="text" id="withdraw" class="form-control" name="withdraw">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Staff Commission: </label>
                                    <div class="col-lg-10">
                                        <input type="text" id="wstaffcommission" class="form-control" name="staffcomission" readonly="readonly">
                                    </div>
                                </div>
								<div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Final Withdrawal: </label>
                                    <div class="col-lg-10">
                                        <input type="text" id="finalwithdraw" class="form-control" name="finalwithdraw">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <input type="submit" class="btn btn-primary" value="Submit" />
                                    </div>
                                </div>
                        	</form>
                        </div>

                    </div>
                    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
                        <div class="well sponsor">
                        	<div class="colblock">
								<h2>Gold in Bank: </h2>
								<h2>9,001 RSPG</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
