<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RSGPBets - Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootswatch.min.css') }}">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
        <script src="../bower_components/respond/dest/respond.min.js"></script>
        <![endif]-->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootswatch.js') }}"></script>

    
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../" class="navbar-brand">RSGPBets</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    {% if "login" in session %}
                    <ul class="nav navbar-nav">
                    	<li>
                            <a href="/">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Wallet<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/wallet/">Wallet</a></li>
                                <li><a href="/wallet/deposit">Deposit</a></li>
                                <li><a href="/wallet/withdraw">Withdraw</a></li>
                                <li><a href="/wallet/transfer">Transfer Funds</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/account/">Dashboard</a></li>
                                <li><a href="/account/edit">Edit Profile</a></li>
                                <li><a href="/account/games">My Games</a></li>
                            </ul>
                        </li>
                    	<li>
                            <a href="/help/">Help</a>
                            </li>
                        <li>
                            <a href="/logout/">Logout</a>
                        </li>

                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block content %}

		{% endblock %}
        <div class="container footer navbar-fixed-bottom">
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li class="pull-right"><a href="#top">Back to top</a></li>
                            <li><a href="/help">API</a></li>
                            <li><a href="/tos">TOS</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/support">Support</a></li>
                        </ul>
                        <p>
                             2014 RSGPBets.com All Rights Reserved. We are not affiliated with Jagex LTD or Runescape
                        </p>
                    </div>
                </div>
            </footer>
        </div>
        
        
    </body>
</html>
