{% extends "base.html" %}

{% block content %}
<div class="container">
                            <div class="page-header" id="banner">
                                                                            <div class="row">                                                                  
<div class="col-lg-6" style="padding: 15px 15px 0 15px;">
    <form method="POST">
    <div class="well sponsor">
                            <!-- Multiple Radios -->
                            <div class="control-group">
                                <label class="control-label" for="radios1">Choose your gameplay</label>
                                <div class="controls">
                                    <label class="radio" for="radios-0">
                                    <input type="radio" name="radios1" id="radios-0" value="dice" checked="checked">
                                    Dice Duel
                                    <br />
                                    This is classic Dragon Dyce style player VS Player. You can bet against up to 5 other players. Remember, Winner Takes All!
                                    </label>
                                    <label class="radio" for="radios-1">
                                    <input type="radio" name="radios1" id="radios-1" value="bank">
                                    You place a bet against the bank, then a hundred-sided die is rolled. If it comes up 60 or better, you win double your bet - if not, the bank wins.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="well sponsor">
                            <!-- Multiple Radios -->
                            <div class="control-group">
                                <label class="control-label" for="radios">Amount of people to play this game. (If playing against the bank these values don't count.)</label>
                                <div class="controls">
                                    <label class="radio" for="radios-0">
                                    <input type="radio" name="radios" id="radios-0" value="2" checked="checked">
                                    2
                                    </label>
                                    <label class="radio" for="radios-1">
                                    <input type="radio" name="radios" id="radios-1" value="3">
                                    3
                                    </label>
                                    <label class="radio" for="radios-2">
                                    <input type="radio" name="radios" id="radios-2" value="4">
                                    4
                                    </label>
                                    <label class="radio" for="radios-3">
                                    <input type="radio" name="radios" id="radios-3" value="5">
                                    5
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
                        <div class="well sponsor">
                           <div class="form-group">
							    <label class="col-md-4 control-label" for="textinput">Bet amount: (Numbers only, no letters or commas)</label>  
							        <input id="textinput" name="amount" type="text" placeholder="Amount" class="form-control input-md"> 
							</div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg active" value="Create the Game" />
                    </div>
                    
                    
                </div>
            	</form>
            </div>
        </div>
{% endblock %}
