{% extends "base.html" %}
{% block content %}        
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
                    	{% with messages = get_flashed_messages() %}
                    	<div class="alert alert-danger">
                    		<ul>
                    		{% for message in messages %}
								<li>{{ message }}</li>
                    		{% endfor %}
                    		</ul>
                    	</div>
                    	{% endwith %}
                        <div class="well sponsor">
                        	<form class="form-horizontal" method="POST">
                                <legend>Edit Email Address</legend>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Email Address</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <input type="submit" class="btn btn-primary" value="Submit" />
                                    </div>
                                </div>
                        	</form>
                        </div>
                        <div class="well sponsor">
                        	<form class="form-horizontal" method="POST">
                                <legend>Edit Password</legend>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">New Password</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Verify Password</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="verifypassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <input type="submit" class="btn btn-primary" value="Submit" />
                                    </div>
                                </div>
                        	</form>

                        </div>
                    </div>
                    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
                        <div class="well sponsor">
                        	<div class="colblock">

                              <h2>Account Status</h2>
                              <div class="p">
                                  {% if not user['verified'] %}
                                <div><b style="color: red;">X Not Verified</b><br>
                                  ^ your account name will be verified with your first transation</div>
                              </div>
                                {% else %}
                                <div><b style="color: green;">Verified</b><br/>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
