{% extends "base.html" %}
{% block content %}    
        <div class="container">
            <div class="page-header" id="banner">
    
            	<table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Bet</th>
                            <th>Win</th>
                            <th>Players</th>
                            <th>Participants</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    
                        {% for x in games %}
                        <tr/>
                            <td><a href="/match/{{ x['id'] }}">{{ x['id'] }}</a></td>
                        <td>{{ x['bet'] }}</td>
                        <td>{{ x['win'] }}</td>
                        <td>{{ x['participants'] }}/{{ x['max_participants'] }}</td>
                        <td>{{ x['rsname'] }}</td>
                        <td class="text-center"><a href="/account/games/delete/{{ x['id'] }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                        </tr>
                        {% endfor %}
                    
                    
                </table>
                <a href="/create" class="btn btn-primary btn-lg active" role="button">Create a Game</a>
            </div>
        </div>

{% endblock %}
