{% extends "base.html" %}
{% block content %}    
        <div class="container">
            <div class="page-header" id="banner">
    
            	<table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Bet</th>
                            <th>Win</th>
                            <th>Players</th>
                            <th>Participants</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tr>
                        {% for x in games %}
                        <td>{{ x['_id'] }}</td>
                        <td>{{ x['bet'] }}</td>
                        <td>{{ x['win'] }}</td>
                        <td>{{ x['participants'] }}/{{ x['max_participants'] }}</td>
                        <td>{{ x['rsname'] }}</td>
                        <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                        {% endfor %}
                    
                    </tr>
                </table>
                <a href="#" class="btn btn-primary btn-lg active" role="button">Create a Game</a>
            </div>
        </div>

{% endblock %}
