{% extends "base.html" %}
{% block content %}
		<div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
                        <div class="well sponsor">
                        	<table class="table table-striped custab">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Bet</th>
                                        <th>Win</th>
                                        <th>Players</th>
                                        <th>Participants</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>3</td>
                                    <td>200k</td>
                                    <td>400k</td>
                                    <td>1/2</td>
                                    <td>Pillows</td>
                                    <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>200k</td>
                                    <td>400k</td>
                                    <td>1/2</td>
                                    <td>Pillows</td>
                                    <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>200k</td>
                                    <td>400k</td>
                                    <td>1/2</td>
                                    <td>Pillows</td>
                                    <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="well sponsor">
                        	<table class="table table-striped custab">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Bet</th>
                                        <th>Win</th>
                                        <th>Players</th>
                                        <th>Participants</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>3</td>
                                    <td>200k</td>
                                    <td>400k</td>
                                    <td>2/2</td>
                                    <td>Pillows</td>
                                    <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>200k</td>
                                    <td>400k</td>
                                    <td>2/2</td>
                                    <td>Pillows</td>
                                    <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>200k</td>
                                    <td>400k</td>
                                    <td>2/2</td>
                                    <td>Pillows</td>
                                    <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
                        <div class="well sponsor" >
                        	<div id="output" style="overflow: auto;">
                        	    <div class="chat-msg" id="chat">
                            	    <span class="chat-user usr-mod">Pillows</span>: 
                            	    <span class="chat-text">test</span>
                        	    </div>    
                            	    
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="btn-chat">
                                            Send</button>
                                    </span>
                                </div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            setInterval(function() {

               $("#chat").load("/api/get/");


            }, 1000);

        </script>
{% endblock %}
