{% extends "base.html" %}
{% block content %}    

<div class="container">
            <div class="page-header" id="banner">
                                                        <div class="row">
                                                                                                                                        
<table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Bet</th>
                            <th>Win</th>
                            <th>Participants so far</th>
                            <th>Result</th>
                            <th>Roll</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    {% for x in games %}
                    <tr>
                        <td>{{ x['rsname'] }}</td>
                        <td>{{ x['bet'] }}</td>
                        <td>{{ x['win'] }}</td>
                        <td>{{ x['participants'] }}/{{ x['max_participants'] }}</td>
                        <td>{{ x['result'] }}</td>
                        <td>{{ x['roll'] }}</td>
                        <td class="text-center"><a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                 
                    </tr>
                    {% endfor %}
                </table>
                {% if control['participants'] < control['max_participants'] %}
                To get into this game costs <strong>{{ control['bet'] }}</strong>
                <form method="POST">
                    <br/>
                    <button type="submit" value="1" name="join" class="btn btn-primary btn-lg active">Join</button>
                </form>
                {% endif %}
            </div>
        </div>

{% endblock %}
