{% extends "base.html" %}
{% block content %}    
        <div class="container">
            <div class="page-header" id="banner">
    
            	<table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>RSname</th>
                            <th>Time</th>
                            <th>Type</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    {% for x in tickets %}
                    <tr>
                        <td>{{ x['_id'] }}</td>
                        <td>{{ x['rsname_requested'] }}</td>
                        <td>{{ x['time'] }}</td>
                        <td>{{ x['type'] }}</td>
                        <td class="text-center"><a class='btn btn-success btn-xs' href="/admin/tickets/complete/{{ x['_id'] }}"><span class="glyphicon glyphicon-ban-circle"></span> Completed</a> <a href="/admin/tickets/deny/{{ x['_id'] }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Deny</a></td>
  
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

{% endblock %}
