{% extends "base.html" %}
{% block content %}
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
                    {% with messages = get_flashed_messages() %}
                	<div class="alert alert-danger">
                		<ul>
                		{% for message in messages %}
							<li>{{ message }}</li>
                		{% endfor %}
                		</ul>
                	</div>
                	{% endwith %}
                        <form class="form-horizontal" method="POST">
                            <legend>Transfer Funds to a Friend</legend>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Friend's Username</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="email" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Amount to Transfer</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="rsname" placeholder="Please do not abbreviate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Comment</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" name="password" placeholder="Optional">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
		</div>
{% endblock %}